/* Contact Form */

.layout-region--node-main .layout-region__content, .layout-region--node-footer .layout-region__content {
    max-width: 100% !important;
}

.layout-region--node-main, .layout-region--node-footer {
    width: 100% !important;
}

.layout-region--node-main .layout-region__content, .layout-region--node-footer .layout-region__content {
    max-width: 100% !important;
}

.layout-region--node-main, .layout-region--node-footer {
    width: 100% !important;
}

.layout-node-form.clearfix {
    display: flex;
    flex-direction: column;
}